@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    font-family: "Oswald", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.click-more {
    margin-top: 5px;
    text-align: center;
    background-color: rgba(0,0,0,1);
    padding-top: 10px;
    padding-bottom: 20px;
    color: white;
}

.member-card {
    border-radius: 20px;
    display: block;
    text-align: center;
    justify-content: center;
    align-content: center;
    background-color: white;
    min-width: 300px;
    min-height: 500px;
    max-width: 300px;
    max-height: 500px;
    margin: 10px;
    box-shadow: 0px 20px 5px rgba(0,0,0,0.14);

    h3 {
        background-color: black;
        color: white;
        padding: 30px;
        height: 130px;
    }

    div :not(.click-more) {
        margin-top: 20px;

        div {
            padding: 20px;
            text-align: left;
            height: 150px;
            color: rgba(0,0,0,0.6);
            background-color: rgba(0,0,0,0.1);

        }
    }

    * {
        border-radius: 20px;
    }
}

.member-container {
    margin: 100px;
    display: flex;
    justify-content: center;
}