.gray {
    background-color: rgb(230,230,230);
    padding: 30px;
    padding-left: 15%;
    padding-right: 15%;
}

.center-div {
    padding: 50px;
    display: flex;
    justify-content: center;
}

.padding-top {
    padding-top: 50px;
}