.gray {
    background-color: rgb(230,230,230);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
}

#map-container {
    position: relative;
    height: 180px;
    width: 600px;
}

#map {
    position: relative;
    height: inherit;
    width: inherit;
}



.center-div {
    padding: 50px;
    display: flex;
    align-content: center;
    justify-content: center;

}

.center-div > * {
    display: flex;
    justify-content: center;
}

.padding-top {
    padding-top: 50px;
}

.padding {
    padding-left: 20%;
    padding-right: 20%;
}

.intro-container {
    margin: 5%;
}