.gray {
    background-color: rgb(230,230,230);
    padding: 30px;
    padding-left: 15%;
    padding-right: 15%;
}

.center-div {
    padding: 50px;
    display: flex;
    align-content: center;
    justify-content: center;

}

.center-div > * {
    display: flex;
    justify-content: center;
}

.padding-top {
    padding-top: 50px;
}

.padding {
    padding-left: 20%;
    padding-right: 20%;
}

.intro-container {
    margin: 5%;
}