@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.main-padding {
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;

}

.scrollable {
    overflow: scroll;
}


@media(max-width: 500px) {
    .heading-part > * {
        display: block;
        align-content: center;
        justify-content: center;
        text-align: center;
    }
}

.heading-part {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: rgb(230,230,230);
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;

    .topic {
        padding-top: 100px;
    }

    img {
        object-fit: cover;
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
        max-height: 400px;
    }

    .col {
        display: block;
        justify-content: center;
        align-content: center;
    }
}

.serv-div {
    display: block;
    align-content: center;
    text-align: center;
    width: 300px;
    height: 500px;
    border-width: 2px;
    border-color: red;
    padding: 30px;
    background-color: rgb(230,230,230);

    div {
        text-align: center;
    }

    img {
        object-fit: cover;
        aspect-ratio: 1/1;
        border-radius: 50%;
        max-width: 200px;
        border-width: 20px;
        border-color: black;
        border: 5px solid rgba(0,0,0,0.1);
        box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
        margin-bottom: 15px;
    }

    h5 {
        opacity: 0.6;
    }
}


