@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
$primaryColor: rgb(30,30,30);
$iconSize: 30px;

.footer {
    width: 100%;
    background-color: $primaryColor;
    padding: 20px;
    bottom: 0;
}

@media (max-width: 500px)
{
    .footer {
        ul {
            li {
                display: block;
                flex-direction: column;
            }
        }
    }
}

.footer img {
    width: $iconSize;
    height: $iconSize;
    transition-duration: 0.3s;
}

.footer img:hover {
    transform: translateY(-5px);
}

.footer {

    ul li {
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 100;
        color: white;
        list-style-type: none;
    }

    p {
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        color: white;
        font-weight: 300;
        list-style-type: none;
    }
}