
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

$defaultTextColor: white;

.carousel {
    margin-top: -16px;
    z-index: 0;
}

.gym-cap {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: white;

    display: block;
    text-align: left;
    justify-content: left;
    align-content: center;
    position: absolute;
    top: -330px;
}

.carousel-img {
    object-fit: cover;
    background-size: cover;
    height: 600px;
}